APP_NAME = go-chat-demo
APP_VERSION = v0.0.1
LOG_LEVEL = INFO
ADMIN_NAME = admin

REST_LISTEN_ADDR = localhost:8090
WEBSOCKET_LISTEN_ADDR = localhost:8091

DSN = postgres://postgres:password@localhost:5432/thinsectiondev?sslmode=disable

BYPASS_AUTH = false